@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
:root {
  background-color: rgba(38, 38, 38, 0.6666666667);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd500;
  color: #333333;
  height: 35px;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  background-color: #262626;
  color: #ffffff;
  position: sticky;
  top: 0;
  padding: 10px 30px;
}
.container .open_menu {
  display: none;
  position: absolute;
  top: 29px;
  left: 29px;
  cursor: pointer;
}
.container .yellow:hover {
  color: #ffd500;
}
.container .logo {
  max-width: 180px;
}
.container .navBar {
  display: flex;
}
.container .navBar .span_btn {
  display: none;
  cursor: pointer;
}
.container .navBar_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style: none;
}
.container .navBar_ul .link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}
.container .navBar_ul .home {
  display: none;
}
.container .navBar .active {
  color: #ffd500;
}
.container .contact_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container .contact_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container .contact_nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 15px;
  background-color: #ffd500;
  color: #262626;
}

@media only screen and (max-width: 680px) {
  .navBar, .contact_nav {
    width: 60vw !important;
  }
}
@media only screen and (max-width: 990px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .container .open_menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .container .image_container {
    background-color: #262626;
  }
  .container .navBar {
    display: flex;
    width: 45vw;
    left: -600px;
    position: absolute;
    top: 0;
    background-color: #262626;
  }
  .container .navBar .span_btn {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 35px;
  }
  .container .navBar_ul {
    flex-direction: column;
    gap: 30px;
    align-items: start;
    padding: 60px 30px 30px 30px;
  }
  .container .navBar .home {
    display: block;
  }
  .container .contact_nav {
    display: flex;
    flex-direction: column;
    left: -600px;
    gap: 30px;
    position: absolute;
    top: 349px;
    width: 45vw;
    background-color: #262626;
  }
  .container .contact_nav_link {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
  }
  .container .contact_nav_link i {
    display: block;
    padding: 1vw;
  }
  .container .contact_nav .shop {
    order: -1;
    text-align: center;
    width: -webkit-fill-available;
    margin: 0 30px;
  }
  .container .contact_nav::after {
    content: "";
    display: block;
    height: 200vw;
    background-color: #262626;
  }
  .container #open {
    left: 0;
    transition: left 0.4s linear;
  }
}/*# sourceMappingURL=index.css.map */